<div class="author">
    <h1 class="author__heading">Hi, I'm Vasco</h1>
    <p class="author__body">Web Developer</p>
</div>

<img
    src="/img/hero-image.webp"
    alt="photo of a cat"
    class="hero-image"
    width="981"
    height="528"
/>

<section class="articles">
    <h2 class="articles__heading">
        Latest Posts
    </h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%=post.id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdOn.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">
            &lt; View Older Posts
        </a>
    <% } %>
    
</section>